body { 
background-color: #FFFFF0; 
font-family: Arial, Verdana, sans-serif; 
font-size: 18px; 
color: #00008B;
}

table{
	border: 1px solid black; width: 100%;
}
th, td{
	border:1px solid black; text-align: center;
}
thead{
	background-color: grey;
}
a{
	font-size: 25px;
	font-weight: bold;
}

a:link{
	text-decoration: none;

}
a:visited{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
	background-color: lightgreen;
	
}
a:active{
	text-decoration: none;
}
tbody{
	font-style: italic;
}
tbody tr:nth-child(odd){
	background-color: lightgreen;
}
tbody tr:nth-child(even){
	background-color: yellow;
}